@using EntityLayer.Concrete
@model List<Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer List";
}

<style>
    .table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: center;
        }

        .table th,
        .table td {
            padding: 12px 15px;
        }

        .table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .table tbody tr:nth-last-of-type(n+2) {
                background-color: #f3f3f3;
            }

            .table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }
</style>

<br />
<h2>List of Customers</h2>
<a class='btn btn-primary btn-sm' href='/Customer/Create'>New Customer</a>

<table class="table">
    <thead>
        <tr>
            <th>Customer Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Birth Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>@item.surname</td>
            <td>@item.email</td>
            <td>@item.phone</td>
            <td>@item.address</td>
            <td>@item.birth_date</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/Customer/Edit/@item.id">Edit</a>
                <a class="btn btn-danger btn-sm" href="/Customer/Delete/@item.id"
                   onclick="return confirm('Are you sure you want to delete this item')">Delete</a>
            </td>
        </tr>
    }
</table>

