@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Identity

@model EntityLayer.Concrete.Customer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Your Profile";
}

<style>
    body {
        margin-top: 20px;
        background-color: lightgray;
    }

    .main {
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .topbar {
        background-color: teal;
        overflow: hidden;
    }

        .topbar a {
            float: right;
            color: whitesmoke;
            text-align: center;
            padding: 20px 26px;
            text-decoration: none;
            font-size: 26px;
        }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .content {
        background-color: whitesmoke;
    }
</style>


<html>
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap-4.5.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="profile.css" />
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="topbar">
                <a asp-controller="Login" asp-action="Logout">Logout</a>
            </div>
            <div class="row">
                <div class="col-md-8 mt-1">
                    <div class="card mb-6 content">
                        <h1>About</h1>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Name</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h1>@ViewBag.name</h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Surname</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h1>@ViewBag.surname</h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Email</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h1>@ViewBag.email</h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Phone Number</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h1>@ViewBag.phone</h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Address</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h1>@ViewBag.address</h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Birth Date</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h1>@ViewBag.birth_date</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>